api.bruin-bite.com {
    gzip
    log stdout
    errors stderr
    tls terrenceho.books@gmail.com
    proxy /api/v1/menu menu:5000 {
        transparent
    }

    proxy /api/v1 daphne:8000 {
        transparent
	websocket
    }
}
