api.bruin-bite.com {
    gzip
    log stdout
    errors stderr
    tls terrenceho.books@gmail.com
    proxy /api/v1/menu api:5000 {
        transparent
    }

    proxy /api/v1/users users:8000 {
        transparent
    }
}
