asgi-redis==1.2.0
asgiref==2.3.0
autobahn==0.12.1
channels==1.1.8
daphne==1.4.2
dj-database-url==0.4.0
Django==2.0.5
haikunator==1.0.1
msgpack-python==0.5.6
psycopg2==2.7.4
redis==2.10.6
six==1.11.0
Twisted==18.4.0
txaio==2.10.0
wheel==0.24.0
zope.interface==4.5.0
