apns2==0.4.1
asgi-redis==1.4.3
asgiref==1.1.2
asn1crypto==0.24.0
async-timeout==2.0.1
attrs==18.1.0
autobahn==18.5.1
Automat==0.6.0
certifi==2018.4.16
cffi==1.11.5
channels==1.1.8
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
daphne==1.4.2
dj-database-url==0.4.0
Django==2.0.5
django-push-notifications==1.6.0
h2==2.6.2
haikunator==1.0.1
hpack==3.0.0
http-ece==1.0.5
hyper==0.7.0
hyperframe==3.2.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
msgpack-python==0.5.6
psycopg2==2.7.4
py-vapid==1.4.0
pycparser==2.18
PyJWT==1.6.1
pytz==2018.4
pywebpush==1.7.0
redis==2.10.6
requests==2.18.4
six==1.11.0
Twisted==18.4.0
txaio==2.10.0
urllib3==1.22
zope.interface==4.5.0
