asgi-redis==1.4.3
asgiref==1.1.2
attrs==19.3.0
autobahn==18.5.1
automat==0.6.0
channels==1.1.8
constantly==15.1.0
daphne==1.4.2
dj-database-url==0.4.0
django==2.0.5
haikunator==1.0.1
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
msgpack-python==0.5.6
psycopg2==2.7.4
pyhamcrest==2.0.2
pytz==2018.4
redis==2.10.6
six==1.11.0
twisted==20.3.0
txaio==2.10.0
zope.interface==4.5.0
