{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
  <div class="page-header">Change Password</div>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit">Change password</button>
  </form>
  {% else %}
  <p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
  {% endif %}
{% endblock %}
